name: Build Smarty 32bit
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'zulu'

      - name: Install Android SDK & Licenses
        run: |
          # 1. Manually accept all Android licenses
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses || true
          
          # 2. Tell the app exactly where the SDK is hidden
          echo "sdk.dir=$ANDROID_HOME" > local.properties

      - name: Build Debug APK
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug --no-daemon -Pandroid.useAndroidX=false -Pandroid.enableJetifier=false
